// Reset css
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote {
    &:before,
    &:after {
        content: '';
        content: none
    }
}

q {
    &:before,
    &:after {
        content: '';
        content: none
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

// Layout
html,
body,
body>div,
.app-wrapper,
#app,
.el-container {
    height: 100%;
}

body {
    font-family: 'Roboto', monospace;
    background: #303f4b;
}

///////////////////////////////////////////////////////////////////////////////// 
//
//  Added on 12/7   Added on 12/7   Added on 12/7
//  Added on 12/7   Added on 12/7   Added on 12/7
//
///////////////////////////////////////////////////////////////////////////////// 
//
// App.vue
.demo-wrapper {
    position: relative;
}

.demo-header {
    height: 10vh;
    padding-top: 15px;
    position: absolute;
    font-size: 50px;
    max-width: 900px;
    color: lightsteelblue;
    letter-spacing: -1px;
}

.demo-footer {
    position: absolute;
    bottom: 40px;
    left: 20px;
    a {
        text-decoration: none;
        color: inherit;
        background: #609279;
        padding: 10px 20px;
        border-radius: 30px;
    }
}

.app-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

#app {
    height: 93vh;
    width: 100%;
    margin-top: 7vh;
    background: #222830;
    border: 1px solid black;
    box-shadow: 0 5px 17px 4px rgba(78, 78, 78, 0.2);
}

// Home.vue
.wrapper--snippet {
    height: 87vh;
    background: black;
    overflow: auto;
    pre {
        padding: 10px;
        color: #ccc;
        line-height: 1;
    }
}

// .wrapper--snippet::-webkit-scrollbar {
//     background-color: #3D4652;
// }
// .wrapper--snippet::-webkit-scrollbar-thumb {
//     border-radius: 5px;
//     background: #5f6c7f;
// }
// .wrapper--snippet::-webkit-scrollbar-corner {
//     background: #21262c;
// }
.wrapper--snippet::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px #3D4652;
    border-radius: 10px;
    background-color: #21262c;
}

.wrapper--snippet::-webkit-scrollbar {
    width: 12px;
    background-color: #3D4652;
}

.wrapper--snippet::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #69778c;
}

.wrapper--snippet::-webkit-scrollbar-corner {
    background: #21262c;
}

.wrapper--forms-area {
    height: 87vh;
    width: 80%;
    overflow-y: auto;
    padding-bottom: 10vh;
}

.wrapper--forms-area::-webkit-scrollbar {
    background-color: #3D4652;
}

.wrapper--forms-area::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background: #69778c;
}

.wrapper--forms-area::-webkit-scrollbar-corner {
    background: #21262c;
}

.wrapper--forms-feasible {
    min-height: 50vh;
    width: 38vw;
    height: fit-content;
    background: #EFE8D4;
    border: 1px solid black;
    box-shadow: 0 5px 17px 4px rgba(78, 78, 78, 0.2);
    border-radius: 5px;
    padding: {
        top: 7vh;
        bottom: 7vh;
    }
    ;
    // margin: {
    //     left: 10vw;
    //     right: 10vw;
    //     bottom: 5vh;
    // }
    // ;
    margin: auto
}

.el-main {
    padding: 0;
    overflow: hidden;
}

// Empty state
.emptyState {
    text-align: center;
    color: #344656;
}

.medium-editor-element {
    outline: 0;
}

// Sidebar
.wrapper--sidebar {
    height: 87vh;
    overflow: auto;
    .el-tabs {
        // height: 100%;
        min-height: 99.5%;
        border-bottom: 0;
    }
    .el-tabs__header {
        margin-bottom: 0;
    }
    .el-tabs__content {
        padding: 0px;
    }
    .el-tabs__inner {
        padding: 20px;
    }
    .el-tabs__nav {
        float: none;
        .el-tabs__item {
            width: 33.33%;
            text-align: center;
        }
    }
    .el-tabs--border-card {
        border: 1px solid black;
        box-shadow: 8px 8px 0px -2px rgb(49, 49, 49);
        &,
        >.el-tabs__header .el-tabs__item.is-active {
            // color: #516167;
            color: #344656;
            background: #eeeeee;
        }
        >.el-tabs__header {
            background: #d5d9dd;
        }
    }
    .el-form-item__label {
        line-height: 1;
    }
}

// Accordian in tabs
.el-tab-pane {
    .el-collapse {
        border-top: 0;
    }
    .el-collapse-item__header {
        padding-left: 20px;
        background-color: transparent;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 600;
        color: $--color-primary;
        letter-spacing: 0.2em;
        border-bottom-color: $--color-primary;
        &.is-active {
            border-bottom-color: transparent;
        }
    }
    .el-collapse-item__content {
        padding-bottom: 0;
        .el-form-item {
            padding: 10px 20px;
            margin-bottom: 0;
            border-bottom: 1px solid $--border-color-lighter;
            display: table;
            width: 100%;
            box-sizing: border-box;
            .el-form-item__label,
            .el-form-item__content {
                float: none;
                display: table-cell;
                vertical-align: middle;
            }
            .el-form-item__label {
                color: lighten($--color-text-regular, 10%);
            }
            .el-form-item__content {
                line-height: 1;
                width: 200px;
                text-align: right;
            }
            &:last-child {
                border-bottom: 0;
            }
        }
    }
}

// Preview.vue
.preview--wrapper {
    min-width: 300px;
    min-height: 500px;
    background: #EFE8D4;
    border: 1px solid black;
    box-shadow: 0 5px 17px 4px rgba(78, 78, 78, 0.2);
    border-radius: 7px;
    overflow: auto;
    margin: auto;
}

.preview--background {
    width: 100%;
    height: 100%;
    background: #10171f;
    overflow-y: auto;
    padding-bottom: 10vh;
}

.preview--background::-webkit-scrollbar {
    background-color: #3D4652;
}

.preview--background::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #5f6c7f;
}

.preview--background::-webkit-scrollbar-corner {
    background: #21262c;
}